In [2]:
import pandas as pd
df = pd.read_csv('data.csv')

In [3]:
df['YearsCodePro'] = df['YearsCodePro'].str.extract(r'(\d+)') 
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')  
max(df['YearsCodePro'])

50.0

In [4]:
data = df

# Phân tích và xác định hướng làm

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# correlations = data.corr()['Salary'].abs()
# sorted_correlations = correlations.sort_values()
# num_cols_to_drop = int(0.8* len(data.columns))
# cols_to_drop = sorted_correlations.iloc[:num_cols_to_drop].index
# df_dropped = data.drop(cols_to_drop,axis=1)

In [7]:
# plt.figure(figsize=(10, 6))
# sorted_correlations[:-1].plot(kind='barh', color='skyblue')  # Không bao gồm 'Salary' tự tương quan với chính nó
# plt.title("Correlation of Features with Salary")
# plt.xlabel("Absolute Correlation")
# plt.ylabel("Features")
# plt.show()

In [8]:
country_counts = data['Country'].value_counts()
rare_countries = country_counts[country_counts < 10].index
data['Country'] = data['Country'].replace(rare_countries, 'Other')

In [9]:
def clean_devtype(value):
    if pd.isnull(value):
        return ["Unknown"]
    return [role.strip() for role in str(value).split(",")]

if 'DevType' in df.columns:
    df['DevType'] = df['DevType'].apply(clean_devtype)

In [10]:
len(df[df['YearsCodePro'].isna()])

20

In [11]:
df = df.dropna(subset=['YearsCodePro'])

In [12]:
df[df['EdLevel'].isna()]

Empty DataFrame
Columns: [ConvertedCompYearly, Age, YearsCode, YearsCodePro, Country, EdLevel, DevType, Employment, LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, ToolsTechHaveWorkedWith]
Index: []

In [13]:
education_keywords = {
    "Bachelor": ["Bachelor", "Undergraduate", "BSc", "BA", "BEng"],
    "Master": ["Master", "MSc", "MA", "MEng", "MBA"],
    "PhD": ["PhD", "Doctoral", "Doctorate"],
    "Associate": ["Associate", "AAS", "AS"],
    "High School": ["High school", "Secondary school", "Highschool", "HS"],
    "Other": []
}

def classify_education_level(ed_level):
    if pd.isnull(ed_level):
        return "Other"
    
    levels_found = []
    for level, keywords in education_keywords.items():
        if any(keyword.lower() in str(ed_level).lower() for keyword in keywords):
            levels_found.append(level)
    
    if "Master" in levels_found:
        return "Master"
    elif "PhD" in levels_found:
        return "PhD"
    elif "Bachelor" in levels_found:
        return "Bachelor"
    elif "Associate" in levels_found:
        return "Associate"
    elif "High School" in levels_found:
        return "High School"
    else:
        return "Other"

df['EdLevelGroup'] = df['EdLevel'].apply(classify_education_level)

df

C:\Users\Admin\AppData\Local\Temp\ipykernel_11660\60138062.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EdLevelGroup'] = df['EdLevel'].apply(classify_education_level)

,ConvertedCompYearly,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup
0,23352.0,35-44 years old,25,12.0,Spain,"Secondary school (e.g. American high school, G...","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['Bash/Shell', 'C', 'C#', 'C++', 'Delphi', 'HT...","['MariaDB', 'Microsoft SQL Server', 'MongoDB',...",['Microsoft Azure'],"['ASP.NET', 'ASP.NET Core ']","['Docker', 'Git', 'Xamarin']",Master
1,64085.0,18-24 years old,7,2.0,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]",Employed full-time,"['Bash/Shell', 'Go', 'JavaScript', 'Python']","['PostgreSQL', 'SQLite']",['Microsoft Azure'],"['Django', 'Gatsby']","['Docker', 'Git']",Bachelor
2,75669.0,35-44 years old,20,17.0,Austria,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Data scientist or machi...",Employed full-time,"['JavaScript', 'Python', 'Ruby', 'Rust']","['MongoDB', 'PostgreSQL', 'SQLite']",['Heroku'],['Ruby on Rails'],"['Docker', 'Git', 'Yarn']",Bachelor
3,55904.0,45-54 years old,20,16.0,New Zealand,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Developer, back-end;Dat...",Employed full-time,"['Bash/Shell', 'JavaScript', 'PHP', 'Python', ...","['MariaDB', 'MySQL', 'PostgreSQL', 'SQLite']",[],['Vue.js'],"['Docker', 'Git']",Bachelor
4,146712.0,25-34 years old,11,7.0,"Venezuela, Bolivarian Republic of...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, full-stack;De...","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'Kotlin', 'Node.js'...","['MariaDB', 'MongoDB', 'MySQL', 'PostgreSQL', ...","['AWS', 'Google Cloud Platform']","['Angular', 'Express', 'Laravel', 'React.js', ...",['Git'],Bachelor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,6580.0,25-34 years old,4,3.0,India,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, mobile]","Employed, full-time","['C', 'Dart', 'Go', 'Kotlin', 'PHP', 'Python',...","['MySQL', 'SQLite']","['Firebase', 'Google Cloud', 'OpenStack']","['Django', 'Laravel']",[],Bachelor
3996,23629.0,25-34 years old,11,4.0,Greece,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, back-end]","Employed, full-time","['Elixir', 'Python', 'SQL']","['Elasticsearch', 'PostgreSQL']",[],['Phoenix'],"['Docker', 'Make', 'Pip']",Master
3997,4033.0,45-54 years old,20,17.0,Hungary,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, back-end]","Employed, full-time","['HTML/CSS', 'Java', 'JavaScript', 'SQL']",['PostgreSQL'],[],"['Angular', 'AngularJS']","['Docker', 'Gradle']",Bachelor
3998,75184.0,45-54 years old,8,8.0,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, front-end]","Employed, full-time","['HTML/CSS', 'JavaScript', 'TypeScript']",[],['Microsoft Azure'],['Angular'],"['npm', 'Webpack']",Master
3999,60000.0,35-44 years old,18,13.0,Other,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'HTML/CSS', 'Java...","['Cosmos DB', 'Dynamodb', 'Elasticsearch', 'Fi...","['Amazon Web Services (AWS)', 'Firebase', 'Goo...","['Angular', 'AngularJS', 'ASP.NET', 'ASP.NET C...","['Ant', 'Docker', 'Homebrew', 'Kubernetes', 'M...",Bachelor

In [14]:
import pandas as pd
import re

devtype_keywords = {
    "Web Developer": ["front-end", "back-end", "full-stack", "web"],
    "Mobile Developer": ["mobile", "embedded"],
    "Data Professional": ["data", "scientist", "engineer", "administrator"],
    "Game Developer": ["game", "graphics"],
    "DevOps/SRE": ["devops", "site reliability", "sre"],
    "Other": ["engineering manager", "educator", "researcher", "unknown"]
}

def classify_devtype_group(roles):
    if not roles or not isinstance(roles, list):  
        return ["Other"]

    roles = [role.lower() for role in roles] 
    dev_groups = []

    for group, keywords in devtype_keywords.items():
        keywords = [keyword.lower() for keyword in keywords] 
        if any(re.search(r'\b' + re.escape(keyword) + r'\b', role) for role in roles for keyword in keywords):
            dev_groups.append(group)

    return dev_groups if dev_groups else ["Other"]

df['DevType'] = df['DevType'].apply(lambda x: x if isinstance(x, list) else [])

df['DevGroup'] = df['DevType'].apply(classify_devtype_group)

df

C:\Users\Admin\AppData\Local\Temp\ipykernel_11660\4290471275.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DevType'] = df['DevType'].apply(lambda x: x if isinstance(x, list) else [])
C:\Users\Admin\AppData\Local\Temp\ipykernel_11660\4290471275.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DevGroup'] = df['DevType'].apply(classify_devtype_group)

,ConvertedCompYearly,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup,DevGroup
0,23352.0,35-44 years old,25,12.0,Spain,"Secondary school (e.g. American high school, G...","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['Bash/Shell', 'C', 'C#', 'C++', 'Delphi', 'HT...","['MariaDB', 'Microsoft SQL Server', 'MongoDB',...",['Microsoft Azure'],"['ASP.NET', 'ASP.NET Core ']","['Docker', 'Git', 'Xamarin']",Master,"[Web Developer, Data Professional]"
1,64085.0,18-24 years old,7,2.0,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]",Employed full-time,"['Bash/Shell', 'Go', 'JavaScript', 'Python']","['PostgreSQL', 'SQLite']",['Microsoft Azure'],"['Django', 'Gatsby']","['Docker', 'Git']",Bachelor,[Web Developer]
2,75669.0,35-44 years old,20,17.0,Austria,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Data scientist or machi...",Employed full-time,"['JavaScript', 'Python', 'Ruby', 'Rust']","['MongoDB', 'PostgreSQL', 'SQLite']",['Heroku'],['Ruby on Rails'],"['Docker', 'Git', 'Yarn']",Bachelor,"[Web Developer, Data Professional, DevOps/SRE]"
3,55904.0,45-54 years old,20,16.0,New Zealand,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Developer, back-end;Dat...",Employed full-time,"['Bash/Shell', 'JavaScript', 'PHP', 'Python', ...","['MariaDB', 'MySQL', 'PostgreSQL', 'SQLite']",[],['Vue.js'],"['Docker', 'Git']",Bachelor,"[Web Developer, Data Professional, Other]"
4,146712.0,25-34 years old,11,7.0,"Venezuela, Bolivarian Republic of...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, full-stack;De...","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'Kotlin', 'Node.js'...","['MariaDB', 'MongoDB', 'MySQL', 'PostgreSQL', ...","['AWS', 'Google Cloud Platform']","['Angular', 'Express', 'Laravel', 'React.js', ...",['Git'],Bachelor,[Web Developer]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,6580.0,25-34 years old,4,3.0,India,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, mobile]","Employed, full-time","['C', 'Dart', 'Go', 'Kotlin', 'PHP', 'Python',...","['MySQL', 'SQLite']","['Firebase', 'Google Cloud', 'OpenStack']","['Django', 'Laravel']",[],Bachelor,[Mobile Developer]
3996,23629.0,25-34 years old,11,4.0,Greece,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, back-end]","Employed, full-time","['Elixir', 'Python', 'SQL']","['Elasticsearch', 'PostgreSQL']",[],['Phoenix'],"['Docker', 'Make', 'Pip']",Master,[Web Developer]
3997,4033.0,45-54 years old,20,17.0,Hungary,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, back-end]","Employed, full-time","['HTML/CSS', 'Java', 'JavaScript', 'SQL']",['PostgreSQL'],[],"['Angular', 'AngularJS']","['Docker', 'Gradle']",Bachelor,[Web Developer]
3998,75184.0,45-54 years old,8,8.0,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, front-end]","Employed, full-time","['HTML/CSS', 'JavaScript', 'TypeScript']",[],['Microsoft Azure'],['Angular'],"['npm', 'Webpack']",Master,[Web Developer]
3999,60000.0,35-44 years old,18,13.0,Other,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'HTML/CSS', 'Java...","['Cosmos DB', 'Dynamodb', 'Elasticsearch', 'Fi...","['Amazon Web Services (AWS)', 'Firebase', 'Goo...","['Angular', 'AngularJS', 'ASP.NET', 'ASP.NET C...","['Ant', 'Docker', 'Homebrew', 'Kubernetes', 'M...",Bachelor,[Web Developer]

In [15]:
df[df['Country'].isna()]

Empty DataFrame
Columns: [ConvertedCompYearly, Age, YearsCode, YearsCodePro, Country, EdLevel, DevType, Employment, LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, ToolsTechHaveWorkedWith, EdLevelGroup, DevGroup]
Index: []

In [16]:
df[df['Employment'].isna()]

Empty DataFrame
Columns: [ConvertedCompYearly, Age, YearsCode, YearsCodePro, Country, EdLevel, DevType, Employment, LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, ToolsTechHaveWorkedWith, EdLevelGroup, DevGroup]
Index: []

In [17]:
df.dtypes

ConvertedCompYearly        float64
Age                         object
YearsCode                   object
YearsCodePro               float64
Country                     object
EdLevel                     object
DevType                     object
Employment                  object
LanguageHaveWorkedWith      object
DatabaseHaveWorkedWith      object
PlatformHaveWorkedWith      object
WebframeHaveWorkedWith      object
ToolsTechHaveWorkedWith     object
EdLevelGroup                object
DevGroup                    object
dtype: object

In [18]:
data = df

In [19]:
data = data.reset_index(drop = True)

In [20]:
import re

def extract_average_age(age_str):
    if isinstance(age_str, str):
        match = re.match(r'(\d+)-(\d+)', age_str)
        if match:
            lower, upper = map(int, match.groups())
            return ((lower + upper) / 2 + 0.5)
    return None 

data['Age'] = data['Age'].apply(extract_average_age)

In [21]:
import numpy as np

In [22]:

data = data.rename(columns={'ConvertedCompYearly': 'Salary'})
Q1 = data['Salary'].quantile(0.25)
Q3 = data['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [23]:
# lower_bound

In [24]:
# Xác định IQR và giới hạn
Q1 = data['YearsCodePro'].quantile(0.25)
Q3 = data['YearsCodePro'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['YearsCodePro'] < lower_bound) | (data['YearsCodePro'] > upper_bound)]

print('lowerbound:', lower_bound)
print('upperbound:', upper_bound)
outliers

lowerbound: 0
upperbound: 30.5

,Salary,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup,DevGroup
20,16679.0,50.0,40,33.0,South Africa,"Secondary school (e.g. American high school, G...","[Developer, full-stack;Other (please specify):]","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'PHP']","['MariaDB', 'MySQL']",[],"['jQuery', 'Ruby on Rails']",['Git'],Master,[Web Developer]
42,24000.0,60.0,43,43.0,"Venezuela, Bolivarian Republic of...",Some college/university study without earning ...,"[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['JavaScript', 'PHP', 'SQL']",['MariaDB'],[],['jQuery'],['Git'],Other,[Web Developer]
46,70186.0,60.0,35,33.0,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Designer]",Employed full-time,"['C', 'C++', 'HTML/CSS', 'JavaScript', 'Node.j...","['PostgreSQL', 'SQLite']",['DigitalOcean'],['Vue.js'],"['Git', 'Yarn']",Bachelor,[Web Developer]
97,96000.0,60.0,35,32.0,United States of America,Some college/university study without earning ...,"[Developer, mobile;Developer, front-end;Develo...",Employed full-time,"['C', 'C++', 'Java', 'JavaScript', 'Node.js', ...","['PostgreSQL', 'Redis']","['AWS', 'Microsoft Azure']","['jQuery', 'Vue.js']","['Docker', 'Git']",Other,"[Web Developer, Mobile Developer, Data Profess..."
105,120000.0,60.0,42,40.0,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['C#', 'HTML/CSS', 'JavaScript', 'SQL', 'TypeS...","['Microsoft SQL Server', 'SQLite']",['Microsoft Azure'],"['Angular', 'ASP.NET Core ', 'jQuery', 'Vue.js']",['Git'],Bachelor,"[Web Developer, Data Professional]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,280000.0,NaN,More than 50 years,45.0,United States of America,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",[Data scientist or machine learning specialist],"Employed, full-time","['Bash/Shell (all shells)', 'JavaScript', 'Pyt...","['Databricks SQL', 'Dynamodb', 'Neo4J']",['Amazon Web Services (AWS)'],"['FastAPI', 'Flask', 'Node.js']","['Docker', 'Kubernetes', 'Maven (build tool)',...",Master,[Data Professional]
3896,25777.0,NaN,More than 50 years,50.0,Germany,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, desktop or enterprise applications]","Independent contractor, freelancer, or self-em...","['Assembly', 'Bash/Shell (all shells)', 'C', '...","['MariaDB', 'Microsoft Access', 'Microsoft SQL...",[],[],"['Make', 'Visual Studio Solution']",Bachelor,[Other]
3905,94517.0,60.0,44,42.0,Netherlands,Some college/university study without earning ...,[Other (please specify):],"Employed, full-time","['Assembly', 'Bash/Shell (all shells)', 'C#', ...","['Microsoft SQL Server', 'MySQL', 'PostgreSQL']",['Microsoft Azure'],"['Angular', 'jQuery']","['Docker', 'Make', 'Maven (build tool)', 'MSBu...",Other,[Other]
3942,145000.0,NaN,40,32.0,United States of America,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",[Research & Development role],"Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'Java', 'JavaScri...","['Elasticsearch', 'MySQL', 'PostgreSQL']",['Amazon Web Services (AWS)'],"['AngularJS', 'Node.js', 'Play Framework', 'Sp...","['Ansible', 'Ant', 'Docker', 'Gradle', 'Maven ...",Master,[Other]
3966,93601.0,50.0,38,32.0,Denmark,"Associate degree (A.A., A.S., etc.)",[Other (please specify):],"Employed, full-time","['Bash/Shell (all shells)', 'C#', 'HTML/CSS', ...","['Cosmos DB', 'Elasticsearch', 'Microsoft SQL ...",['Microsoft Azure'],"['Angular', 'ASP.NET', 'ASP.NET CORE', 'Vue.js']","['MSBuild', 'npm', 'NuGet', 'Visual Studio Sol...",Associate,[Other]

In [25]:
data['YearsCode'] = data['YearsCode'].str.extract(r'(\d+)') 
data['YearsCode'] = pd.to_numeric(data['YearsCode'], errors='coerce')

In [26]:
# Xác định IQR và giới hạn
Q1 = data['YearsCode'].quantile(0.25)
Q3 = data['YearsCode'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['YearsCode'] < lower_bound) | (data['YearsCode'] > upper_bound)]

print('lowerbound:', lower_bound)
print('upperbound:', upper_bound)
outliers

lowerbound: 0
upperbound: 39.5

,Salary,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup,DevGroup
20,16679.0,50.0,40.0,33.0,South Africa,"Secondary school (e.g. American high school, G...","[Developer, full-stack;Other (please specify):]","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'PHP']","['MariaDB', 'MySQL']",[],"['jQuery', 'Ruby on Rails']",['Git'],Master,[Web Developer]
42,24000.0,60.0,43.0,43.0,"Venezuela, Bolivarian Republic of...",Some college/university study without earning ...,"[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['JavaScript', 'PHP', 'SQL']",['MariaDB'],[],['jQuery'],['Git'],Other,[Web Developer]
105,120000.0,60.0,42.0,40.0,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['C#', 'HTML/CSS', 'JavaScript', 'SQL', 'TypeS...","['Microsoft SQL Server', 'SQLite']",['Microsoft Azure'],"['Angular', 'ASP.NET Core ', 'jQuery', 'Vue.js']",['Git'],Bachelor,"[Web Developer, Data Professional]"
119,97288.0,60.0,40.0,32.0,Germany,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, full-stack;DevOps specialist]",Employed full-time,"['JavaScript', 'Node.js', 'Perl']","['Elasticsearch', 'MariaDB', 'MySQL', 'Oracle'...","['AWS', 'Microsoft Azure']","['jQuery', 'Vue.js']",['Git'],Master,"[Web Developer, DevOps/SRE]"
140,130000.0,50.0,41.0,22.0,United States of America,Some college/university study without earning ...,"[Developer, front-end;Developer, desktop or en...","Independent contractor, freelancer, or self-em...","['C#', 'F#', 'Python', 'SQL']","['IBM DB2', 'Microsoft SQL Server', 'Oracle']",['Oracle Cloud Infrastructure'],['ASP.NET Core '],['Git'],Other,"[Web Developer, Data Professional]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,25777.0,NaN,50.0,50.0,Germany,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, desktop or enterprise applications]","Independent contractor, freelancer, or self-em...","['Assembly', 'Bash/Shell (all shells)', 'C', '...","['MariaDB', 'Microsoft Access', 'Microsoft SQL...",[],[],"['Make', 'Visual Studio Solution']",Bachelor,[Other]
3905,94517.0,60.0,44.0,42.0,Netherlands,Some college/university study without earning ...,[Other (please specify):],"Employed, full-time","['Assembly', 'Bash/Shell (all shells)', 'C#', ...","['Microsoft SQL Server', 'MySQL', 'PostgreSQL']",['Microsoft Azure'],"['Angular', 'jQuery']","['Docker', 'Make', 'Maven (build tool)', 'MSBu...",Other,[Other]
3921,80555.0,60.0,40.0,30.0,France,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","[Developer, front-end]","Employed, full-time","['C', 'C++', 'Python']",[],[],[],['Docker'],Other,[Web Developer]
3942,145000.0,NaN,40.0,32.0,United States of America,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",[Research & Development role],"Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'Java', 'JavaScri...","['Elasticsearch', 'MySQL', 'PostgreSQL']",['Amazon Web Services (AWS)'],"['AngularJS', 'Node.js', 'Play Framework', 'Sp...","['Ansible', 'Ant', 'Docker', 'Gradle', 'Maven ...",Master,[Other]
3958,130000.0,50.0,40.0,28.0,United States of America,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, mobile]","Employed, full-time","['C#', 'HTML/CSS', 'Java', 'JavaScript', 'Perl...","['Microsoft Access', 'Microsoft SQL Server', '...",['Microsoft Azure'],"['ASP.NET', 'ASP.NET CORE', 'Vue.js']",['Webpack'],Master,[Mobile Developer]

In [27]:
education_mapping = {
    'Other': 0,
    'Associate': 1,
    'Bachelor': 2,
    'Master': 3,
    'PhD': 4
}

data['EdLevelGroup'] = data['EdLevelGroup'].map(education_mapping)

In [28]:
data

,Salary,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup,DevGroup
0,23352.0,40.0,25.0,12.0,Spain,"Secondary school (e.g. American high school, G...","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['Bash/Shell', 'C', 'C#', 'C++', 'Delphi', 'HT...","['MariaDB', 'Microsoft SQL Server', 'MongoDB',...",['Microsoft Azure'],"['ASP.NET', 'ASP.NET Core ']","['Docker', 'Git', 'Xamarin']",3,"[Web Developer, Data Professional]"
1,64085.0,21.5,7.0,2.0,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]",Employed full-time,"['Bash/Shell', 'Go', 'JavaScript', 'Python']","['PostgreSQL', 'SQLite']",['Microsoft Azure'],"['Django', 'Gatsby']","['Docker', 'Git']",2,[Web Developer]
2,75669.0,40.0,20.0,17.0,Austria,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Data scientist or machi...",Employed full-time,"['JavaScript', 'Python', 'Ruby', 'Rust']","['MongoDB', 'PostgreSQL', 'SQLite']",['Heroku'],['Ruby on Rails'],"['Docker', 'Git', 'Yarn']",2,"[Web Developer, Data Professional, DevOps/SRE]"
3,55904.0,50.0,20.0,16.0,New Zealand,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Developer, back-end;Dat...",Employed full-time,"['Bash/Shell', 'JavaScript', 'PHP', 'Python', ...","['MariaDB', 'MySQL', 'PostgreSQL', 'SQLite']",[],['Vue.js'],"['Docker', 'Git']",2,"[Web Developer, Data Professional, Other]"
4,146712.0,30.0,11.0,7.0,"Venezuela, Bolivarian Republic of...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, full-stack;De...","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'Kotlin', 'Node.js'...","['MariaDB', 'MongoDB', 'MySQL', 'PostgreSQL', ...","['AWS', 'Google Cloud Platform']","['Angular', 'Express', 'Laravel', 'React.js', ...",['Git'],2,[Web Developer]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3975,6580.0,30.0,4.0,3.0,India,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, mobile]","Employed, full-time","['C', 'Dart', 'Go', 'Kotlin', 'PHP', 'Python',...","['MySQL', 'SQLite']","['Firebase', 'Google Cloud', 'OpenStack']","['Django', 'Laravel']",[],2,[Mobile Developer]
3976,23629.0,30.0,11.0,4.0,Greece,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, back-end]","Employed, full-time","['Elixir', 'Python', 'SQL']","['Elasticsearch', 'PostgreSQL']",[],['Phoenix'],"['Docker', 'Make', 'Pip']",3,[Web Developer]
3977,4033.0,50.0,20.0,17.0,Hungary,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, back-end]","Employed, full-time","['HTML/CSS', 'Java', 'JavaScript', 'SQL']",['PostgreSQL'],[],"['Angular', 'AngularJS']","['Docker', 'Gradle']",2,[Web Developer]
3978,75184.0,50.0,8.0,8.0,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, front-end]","Employed, full-time","['HTML/CSS', 'JavaScript', 'TypeScript']",[],['Microsoft Azure'],['Angular'],"['npm', 'Webpack']",3,[Web Developer]
3979,60000.0,40.0,18.0,13.0,Other,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'HTML/CSS', 'Java...","['Cosmos DB', 'Dynamodb', 'Elasticsearch', 'Fi...","['Amazon Web Services (AWS)', 'Firebase', 'Goo...","['Angular', 'AngularJS', 'ASP.NET', 'ASP.NET C...","['Ant', 'Docker', 'Homebrew', 'Kubernetes', 'M...",2,[Web Developer]

In [29]:
data = data.dropna()

In [30]:
# from sklearn.model_selection import StratifiedShuffleSplit

# X = data.drop(columns=['EdLevelGroup'])  
# y = data['EdLevelGroup'] 

# splitter = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

# for train_idx, temp_idx in splitter.split(X, y):
#     train_data = data.iloc[train_idx]
#     temp_data = data.iloc[temp_idx]

# splitter = StratifiedShuffleSplit(n_splits=1, test_size=0.5, random_state=42)
# for val_idx, real_idx in splitter.split(temp_data.drop(columns=['EdLevelGroup']), temp_data['EdLevelGroup']):
#     val_data = temp_data.iloc[val_idx]
#     real_data = temp_data.iloc[real_idx]

# print(f"Kích thước train: {len(train_data)}")
# print(f"Kích thước val: {len(val_data)}")
# print(f"Kích thước realval: {len(real_data)}")

In [31]:

data = data.rename(columns={'ConvertedCompYearly': 'Salary'})
Q1 = data['Salary'].quantile(0.25)
Q3 = data['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
if lower_bound < 12000:
    lower_bound = 12000

In [32]:
# Combine developer group values into a single string
data['DevGroup'] = data['DevGroup'].apply(lambda x: ', '.join(x))

# Identify outliers based on the salary column
outliers_mask = (data['Salary'] < lower_bound) | (data['Salary'] > upper_bound)

# Remove outliers by filtering out the rows with outlier salaries
data = data[~outliers_mask]

# Now df_cleaned contains only the rows where the salary is within the bounds (no outliers)

In [33]:

# val_data = val_data.rename(columns={'ConvertedCompYearly': 'Salary'})
# Q1 = val_data['Salary'].quantile(0.25)
# Q3 = val_data['Salary'].quantile(0.75)
# IQR = Q3 - Q1
# lower_bound = Q1 - 1.5 * IQR
# upper_bound = Q3 + 1.5 * IQR
# if lower_bound < 12000:
#     lower_bound = 12000

In [34]:
# # Combine developer group values into a single string
# val_data['DevGroup'] = val_data['DevGroup'].apply(lambda x: ', '.join(x))

# # Identify outliers based on the salary column
# outliers_mask = (val_data['Salary'] < lower_bound) | (val_data['Salary'] > upper_bound)

# # Remove outliers by filtering out the rows with outlier salaries
# val_data = val_data[~outliers_mask]

# # Now df_cleaned contains only the rows where the salary is within the bounds (no outliers)

In [35]:

invalid_experience = (data['YearsCode'] > data['Age'] - 15) | \
                     (data['YearsCode'] < 0) | \
                     (data['YearsCode'] > 50)|\
                    (data['YearsCodePro'] > data['YearsCode'])

print(f"Số hàng bất hợp lý trong YearsCodePro: {invalid_experience.sum()}")

data = data[~invalid_experience]

Số hàng bất hợp lý trong YearsCodePro: 669

In [36]:
# Combine all relevant columns into a single 'skills' column
skills_columns = [
    "LanguageHaveWorkedWith",
    "DatabaseHaveWorkedWith",
    "PlatformHaveWorkedWith",
    "ToolsTechHaveWorkedWith",
    "WebframeHaveWorkedWith",
]

# Remove 'NaN' and combine lists while deduplicating
def combine_skills(row):
    combined = []
    for col in skills_columns:
        if pd.notna(row[col]):  # Check if the column is not NaN
            combined.extend(eval(row[col]))  # Convert string representation of lists to actual lists
    return list(set(combined))  # Remove duplicates

data["skills"] = data.apply(combine_skills, axis=1)

data

,Salary,Age,YearsCode,YearsCodePro,Country,EdLevel,DevType,Employment,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,ToolsTechHaveWorkedWith,EdLevelGroup,DevGroup,skills
0,23352.0,40.0,25.0,12.0,Spain,"Secondary school (e.g. American high school, G...","[Developer, front-end;Developer, desktop or en...",Employed full-time,"['Bash/Shell', 'C', 'C#', 'C++', 'Delphi', 'HT...","['MariaDB', 'Microsoft SQL Server', 'MongoDB',...",['Microsoft Azure'],"['ASP.NET', 'ASP.NET Core ']","['Docker', 'Git', 'Xamarin']",3,"Web Developer, Data Professional","[MySQL, SQL, ASP.NET, C#, Git, Microsoft SQL S..."
2,75669.0,40.0,20.0,17.0,Austria,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Data scientist or machi...",Employed full-time,"['JavaScript', 'Python', 'Ruby', 'Rust']","['MongoDB', 'PostgreSQL', 'SQLite']",['Heroku'],['Ruby on Rails'],"['Docker', 'Git', 'Yarn']",2,"Web Developer, Data Professional, DevOps/SRE","[Docker, Heroku, SQLite, Yarn, PostgreSQL, Pyt..."
3,55904.0,50.0,20.0,16.0,New Zealand,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack;Developer, back-end;Dat...",Employed full-time,"['Bash/Shell', 'JavaScript', 'PHP', 'Python', ...","['MariaDB', 'MySQL', 'PostgreSQL', 'SQLite']",[],['Vue.js'],"['Docker', 'Git']",2,"Web Developer, Data Professional, Other","[MySQL, Docker, SQL, MariaDB, SQLite, PostgreS..."
4,146712.0,30.0,11.0,7.0,"Venezuela, Bolivarian Republic of...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, front-end;Developer, full-stack;De...","Independent contractor, freelancer, or self-em...","['HTML/CSS', 'JavaScript', 'Kotlin', 'Node.js'...","['MariaDB', 'MongoDB', 'MySQL', 'PostgreSQL', ...","['AWS', 'Google Cloud Platform']","['Angular', 'Express', 'Laravel', 'React.js', ...",['Git'],2,Web Developer,"[MySQL, SQL, Express, Git, AWS, PostgreSQL, Vu..."
5,13704.0,40.0,3.0,2.0,Ukraine,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, back-end]",Employed full-time,"['Node.js', 'SQL', 'TypeScript']","['MongoDB', 'MySQL', 'PostgreSQL']",['AWS'],['Express'],"['Docker', 'Git', 'Yarn']",3,Web Developer,"[MySQL, AWS, Docker, SQL, Express, Yarn, Postg..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,120000.0,30.0,5.0,3.0,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, back-end]","Employed, full-time","['Bash/Shell (all shells)', 'Go', 'JavaScript'...",['PostgreSQL'],['Amazon Web Services (AWS)'],['React'],['APT'],2,Web Developer,"[Go, SQL, Bash/Shell (all shells), PostgreSQL,..."
3974,41469.0,30.0,13.0,8.0,Ukraine,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]","Employed, full-time","['HTML/CSS', 'JavaScript', 'Ruby', 'SQL', 'Typ...","['PostgreSQL', 'Redis']",['Digital Ocean'],"['Angular', 'React', 'Ruby on Rails']",[],2,Web Developer,"[Angular, SQL, PostgreSQL, React, Digital Ocea..."
3976,23629.0,30.0,11.0,4.0,Greece,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, back-end]","Employed, full-time","['Elixir', 'Python', 'SQL']","['Elasticsearch', 'PostgreSQL']",[],['Phoenix'],"['Docker', 'Make', 'Pip']",3,Web Developer,"[Docker, SQL, Elasticsearch, Make, PostgreSQL,..."
3978,75184.0,50.0,8.0,8.0,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","[Developer, front-end]","Employed, full-time","['HTML/CSS', 'JavaScript', 'TypeScript']",[],['Microsoft Azure'],['Angular'],"['npm', 'Webpack']",3,Web Developer,"[HTML/CSS, Angular, npm, JavaScript, TypeScrip..."
3979,60000.0,40.0,18.0,13.0,Other,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","[Developer, full-stack]","Independent contractor, freelancer, or self-em...","['C', 'C#', 'C++', 'Delphi', 'HTML/CSS', 'Java...","['Cosmos DB', 'Dynamodb', 'Elasticsearch', 'Fi...","['Amazon Web Services (AWS)', 'Firebase', 'Goo...","['Angular', 'AngularJS', 'ASP.NET', 'ASP.NET C...","['Ant', 'Docker', 'Homebrew', 'Kubernetes', 'M...",2,Web Developer,"[MySQL, SQL, NuGet, AngularJS, ASP.NET, Yarn, ..."

In [37]:
data = data.drop(columns=[ 'EdLevel', 'DevType', 'Employment', 'LanguageHaveWorkedWith'], axis=1)

In [38]:
data = data.drop(columns=['DatabaseHaveWorkedWith', 'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith', 'ToolsTechHaveWorkedWith'], axis=1)

In [39]:
data = data.dropna()

In [40]:
data=  data.reset_index(drop=True)

In [41]:
import ast
from sklearn.preprocessing import MultiLabelBinarizer
data['skills'] = data['skills'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

mlb = MultiLabelBinarizer()
skills_encoded_train = mlb.fit_transform(data['skills'])
skills_df_train = pd.DataFrame(skills_encoded_train, columns=mlb.classes_)

In [42]:
data = pd.concat([data.drop(columns=['skills']), skills_df_train], axis=1)

In [43]:
data

,Salary,Age,YearsCode,YearsCodePro,Country,EdLevelGroup,DevGroup,APL,APT,ASP.NET,...,Xamarin,Yarn,Yii 2,Zig,bandit,cppunit,doctest,jQuery,npm,pnpm
0,23352.0,40.0,25.0,12.0,Spain,3,"Web Developer, Data Professional",0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,75669.0,40.0,20.0,17.0,Austria,2,"Web Developer, Data Professional, DevOps/SRE",0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,55904.0,50.0,20.0,16.0,New Zealand,2,"Web Developer, Data Professional, Other",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,146712.0,30.0,11.0,7.0,"Venezuela, Bolivarian Republic of...",2,Web Developer,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13704.0,40.0,3.0,2.0,Ukraine,3,Web Developer,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,120000.0,30.0,5.0,3.0,United States of America,2,Web Developer,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2660,41469.0,30.0,13.0,8.0,Ukraine,2,Web Developer,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2661,23629.0,30.0,11.0,4.0,Greece,3,Web Developer,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2662,75184.0,50.0,8.0,8.0,Netherlands,3,Web Developer,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2663,60000.0,40.0,18.0,13.0,Other,2,Web Developer,0,0,1,...,0,1,0,0,0,0,0,1,1,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

data_encoded = encoder.fit_transform(data[['Country']])

data_encoded_df = pd.DataFrame(data_encoded, columns=encoder.get_feature_names_out(['Country']))

data = pd.concat([data, data_encoded_df], axis=1)

# train_data = train_data.drop(columns=['Country'])
# val_data = val_data.drop(columns=['Country'])

ValueError: Shape of passed values is (2664, 1), indices imply (2664, 54)

In [ ]:

def normalize_devgroup(value):
    if isinstance(value, str):  
        return value.split(', ')
    elif isinstance(value, list):  
        return value
    else:  
        return []

data['DevGroup'] = data['DevGroup'].apply(normalize_devgroup)

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
devgroup_encoded_combined = mlb.fit_transform(data['DevGroup'])

devgroup_encoded_combined_df = pd.DataFrame(devgroup_encoded_combined, columns=mlb.classes_)

In [ ]:
data = pd.concat([ data, devgroup_encoded_combined_df], axis=1)

In [ ]:
data = data.drop('DevGroup',axis=1)

In [ ]:
data = data.drop('Country',axis=1)

In [ ]:
data

Chia thành tập train, kiểm thử và val rồi xử lý các giá trị ngoại lai bằng trung vị...

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(data['Salary'], kde=True, bins=30, color='skyblue')
plt.title('Distribution of Salary', fontsize=16)
plt.xlabel('Salary', fontsize=12)
plt.ylabel('Frequency', fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(16, 6))
sns.scatterplot(x=data['YearsCodePro'], y=data['Salary'], ax=axes[0], color='blue', alpha=0.7)
axes[0].set_title('Salary vs. YearsCodePro', fontsize=16)
axes[0].set_xlabel('YearsCodePro', fontsize=12)
axes[0].set_ylabel('Salary', fontsize=12)
sns.boxplot(x=data['EdLevelGroup'], y=data['Salary'], ax=axes[1], palette='viridis')
axes[1].set_title('Salary vs. EdLevelGroup', fontsize=16)
axes[1].set_xlabel('EdLevelGroup', fontsize=12)
axes[1].set_ylabel('Salary', fontsize=12)

plt.tight_layout()
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 1, figsize=(16, 6))
sns.scatterplot(x=data['Age'], y=data['Salary'], color='blue', alpha=0.7)
axes.set_title('Salary vs. Age', fontsize=16)
axes.set_xlabel('Age', fontsize=12)
axes.set_ylabel('Salary', fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

X = data.drop(columns=['EdLevelGroup'])  
y = data['EdLevelGroup'] 

splitter = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_idx, temp_idx in splitter.split(X, y):
    train_data = data.iloc[train_idx]
    temp_data = data.iloc[temp_idx]

splitter = StratifiedShuffleSplit(n_splits=1, test_size=0.5, random_state=42)
for val_idx, real_idx in splitter.split(temp_data.drop(columns=['EdLevelGroup']), temp_data['EdLevelGroup']):
    val_data = temp_data.iloc[val_idx]
    real_data = temp_data.iloc[real_idx]

print(f"Kích thước train: {len(train_data)}")
print(f"Kích thước val: {len(val_data)}")
print(f"Kích thước realval: {len(real_data)}")

In [ ]:
train_data = train_data.reset_index(drop=True)
val_data = val_data.reset_index(drop=True)

In [ ]:
Q1 = train_data['YearsCode'].quantile(0.25)
Q3 = train_data['YearsCode'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:

valid_data = train_data[(train_data['YearsCode'] >= lower_bound)& (train_data['YearsCode'] <= upper_bound)]

median_years_by_edlevel = valid_data.groupby('EdLevelGroup')['YearsCode'].median()

median_years_by_edlevel = median_years_by_edlevel.fillna(0)

def replace_outlier(row):
    if row['YearsCode'] < lower_bound or row['YearsCode'] > upper_bound:
        return median_years_by_edlevel.get(row['EdLevelGroup'], 0)
    return row['YearsCode']

train_data['YearsCode'] = train_data.apply(replace_outlier, axis=1)

In [ ]:
train_data['YearsCode']

In [ ]:
Q1 = val_data['YearsCode'].quantile(0.25)
Q3 = val_data['YearsCode'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:

valid_data = val_data[(val_data['YearsCode'] >= lower_bound) & (val_data['YearsCode'] <= upper_bound)]

median_years_by_edlevel = valid_data.groupby('EdLevelGroup')['YearsCode'].median()

median_years_by_edlevel = median_years_by_edlevel.fillna(0)

def replace_outlier(row):
    if row['YearsCode'] < lower_bound or row['YearsCode'] > upper_bound:
        return median_years_by_edlevel.get(row['EdLevelGroup'], 0)
    return row['YearsCode']

val_data['YearsCode'] = val_data.apply(replace_outlier, axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

train_data[['YearsCodePro']] = scaler.fit_transform(train_data[['YearsCodePro']])
val_data[['YearsCodePro']] = scaler.transform(val_data[['YearsCodePro']])

train_data[['YearsCode']] = scaler.fit_transform(train_data[['YearsCode']])
val_data[['YearsCode']] = scaler.transform(val_data[['YearsCode']])

In [ ]:
X_train = train_data.drop('YearsCodePro',axis=1)
X_train = train_data.drop('YearsCode',axis=1)

In [ ]:
X_val = val_data.drop('YearsCodePro',axis=1)
X_val = val_data.drop('YearsCode',axis=1)

In [ ]:
X_val = val_data.drop('Salary',axis=1)
y_val = val_data['Salary']

In [ ]:
X_train = train_data.drop('Salary',axis=1)
y_train = train_data['Salary']

In [ ]:
from sklearn.ensemble import RandomForestRegressor, StackingRegressor
from sklearn.linear_model import Ridge, LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

In [ ]:
X_train

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Random forest

In [ ]:
rf_model = RandomForestRegressor(n_estimators=1000, max_depth=15,random_state=42)

rf_model.fit(X_train, y_train)


y_pred = rf_model.predict(X_val)

print("MAE:", mean_absolute_error(y_val, y_pred))
print("RMSE:", mean_squared_error(y_val, y_pred, squared=False))
print("R²:", r2_score(y_val, y_pred))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

rf_model = RandomForestRegressor(random_state=42)

param_grid = {
    'n_estimators': [100, 300, 500],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(
    estimator=rf_model,
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error',
    n_jobs=-1,
    verbose=2
)
grid_search.fit(X_train, y_train)

print("Best Parameters:", grid_search.best_params_)

best_rf_model = grid_search.best_estimator_
y_pred = best_rf_model.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gb_model = GradientBoostingRegressor(n_estimators=700, learning_rate=0.05, max_depth=3, random_state=42)
gb_model.fit(X_train, y_train)

y_pred = gb_model.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
svr = SVR(kernel = "rbf", C =100000,epsilon = 0.05)
svr.fit(X_train, y_train)

y_pred = svr.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# Linear Regression + Bagging

In [ ]:
from sklearn.ensemble import BaggingRegressor
lr = LinearRegression()
bagging_regressor = BaggingRegressor(base_estimator=lr, n_estimators=50, random_state=42)

bagging_regressor.fit(X_train, y_train)
y_pred = bagging_regressor.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# LGBMRegressor

In [ ]:
import lightgbm as lgb
X_train_temp = X_train
X_val_temp = X_val
X_train_temp.columns = X_train_temp.columns.str.replace(r'[^a-zA-Z0-9_]', '_', regex=True)
X_val_temp.columns = X_val_temp.columns.str.replace(r'[^a-zA-Z0-9_]', '_', regex=True)

lgb_model = lgb.LGBMRegressor(n_estimators=60,random_state=42)

lgb_model.fit(X_train_temp, y_train)

y_pred_lgb = lgb_model.predict(X_val_temp)

mae_lgb = mean_absolute_error(y_val, y_pred_lgb)
rmse_lgb = mean_squared_error(y_val, y_pred_lgb, squared=False)
r2_lgb = r2_score(y_val, y_pred_lgb)

print(f"MAE: {mae_lgb}")
print(f"RMSE: {rmse_lgb}")
print(f"R²: {r2_lgb}")

In [ ]:
import optuna
import lightgbm as lgb
from sklearn.model_selection import cross_val_score
import numpy as np

def objective(trial):
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 50, 500),
        'learning_rate': trial.suggest_loguniform('learning_rate', 0.01, 0.2),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'num_leaves': trial.suggest_int('num_leaves', 15, 127),
        'min_child_samples': trial.suggest_int('min_child_samples', 5, 30),
        'subsample': trial.suggest_uniform('subsample', 0.6, 1.0),
        'colsample_bytree': trial.suggest_uniform('colsample_bytree', 0.6, 1.0)
    }
    model = lgb.LGBMRegressor(**params, random_state=42)
    score = -cross_val_score(model, X_train_temp, y_train, cv=5, scoring='neg_mean_squared_error').mean()
    return np.sqrt(score) 

study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50)

print("Best parameters:", study.best_params)
print("Best RMSE:", study.best_value)

In [ ]:
import lightgbm as lgb
best_params = study.best_params
best_model = lgb.LGBMRegressor(**best_params, random_state=42)
best_model.fit(X_train_temp, y_train)

y_pred = best_model.predict(X_val_temp)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
import numpy as np
import lightgbm as lgb

param_dist = {
    'n_estimators': [50, 100, 200, 500],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'max_depth': [3, 5, 7, 10, -1],
    'num_leaves': [15, 31, 63, 127],
    'min_child_samples': [5, 10, 20, 30],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

lgb_model = lgb.LGBMRegressor(random_state=42)

random_search = RandomizedSearchCV(
    lgb_model, param_distributions=param_dist, n_iter=30, 
    scoring='neg_mean_squared_error', cv=5, random_state=42, n_jobs=-1
)
random_search.fit(X_train_temp, y_train)

print("Best Parameters:", random_search.best_params_)
print("Best RMSE:", np.sqrt(-random_search.best_score_))

In [ ]:
best_params = study.best_params
best_model = lgb.LGBMRegressor(**best_params, random_state=42)
best_model.fit(X_train_temp, y_train)

y_pred = best_model.predict(X_val_temp)


mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# SVR

In [ ]:
svr = SVR(kernel = "rbf", C =100000, epsilon = 0.05)
svr.fit(X_train, y_train)

y_pred = svr.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
lr_model = LinearRegression()
svr_model = SVR(kernel='rbf', C=200000, epsilon=0.03)

stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('svr', svr_model)],
    final_estimator=LinearRegression()
)

stacking_model.fit(X_train, y_train)

y_pred = stacking_model.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

gbm_model = GradientBoostingRegressor(n_estimators=1000, learning_rate=0.1, max_depth=10)
stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('svr', svr_model), ('gbm', gbm_model)],
    final_estimator=LinearRegression()
)
stacking_model.fit(X_train, y_train)
y_pred = stacking_model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
from sklearn.model_selection import learning_curve
train_sizes, train_scores, val_scores = learning_curve(
    model, X, y, cv=5, scoring='neg_mean_squared_error', train_sizes=np.linspace(0.1, 1.0, 10), random_state=42
)

train_scores_mean = np.sqrt(-train_scores.mean(axis=1))
val_scores_mean = np.sqrt(-val_scores.mean(axis=1))

plt.figure(figsize=(10, 6))
plt.plot(train_sizes, train_scores_mean, label="Training Error", marker='o')
plt.plot(train_sizes, val_scores_mean, label="Validation Error", marker='o')
plt.title("Learning Curve (RMSE)")
plt.xlabel("Training Size")
plt.ylabel("RMSE")
plt.legend()
plt.grid()
plt.show()

In [ ]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(n_estimators=1000, learning_rate=0.05, max_depth=6)
stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('svr', svr_model), ('xgb', xgb_model)],
    final_estimator=LinearRegression()
)
stacking_model.fit(X_train, y_train)
y_pred = stacking_model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
import lightgbm as lgb

lgb_model = lgb.LGBMRegressor(n_estimators=500, learning_rate=0.05, num_leaves=35)
stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('svr', svr_model), ('lgb', lgb_model)],
    final_estimator=LinearRegression()
)
stacking_model.fit(X_train, y_train)
y_pred = stacking_model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
from catboost import CatBoostRegressor

catboost_model = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=6, silent=True)
stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('svr', svr_model), ('catboost', catboost_model)],
    final_estimator=LinearRegression()
)
stacking_model.fit(X_train, y_train)
y_pred = stacking_model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
svr = SVR(kernel = "rbf", C =100000, epsilon = 0.01)
bagging_svr = BaggingRegressor(
    base_estimator=svr,    
    n_estimators=300,       
    max_samples=0.8,       
    max_features=0.8,      
    random_state=42,
    n_jobs=-1              
)

bagging_svr.fit(X_train, y_train)

y_pred = bagging_svr.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# XGBoost

In [ ]:
from xgboost import XGBRegressor
xgb_best = XGBRegressor(
    colsample_bytree=0.8,
    learning_rate=0.01,
    max_depth=5,
    n_estimators=700,
    subsample=0.8,
    random_state=42
)
xgb_best.fit(X_train, y_train)

y_pred = xgb_best.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:
xgb = XGBRegressor(
    colsample_bytree=0.8,
    learning_rate=0.01,
    max_depth=5,
    n_estimators=700,
    subsample=0.8,
    random_state=42
)

rf = RandomForestRegressor(
    n_estimators=300,
    max_depth=3,
    random_state=42
)

meta_model = Ridge(alpha=0.1)

stacking_regressor = StackingRegressor(
    estimators=[
        ('xgb', xgb),
        ('rf', rf)
    ],
    final_estimator=meta_model
)

stacking_regressor.fit(X_train, y_train)

y_pred = stacking_regressor.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

In [ ]:

weight_xgb = 0.7
weight_gb = 0.3 

xgb_best.fit(X_train, y_train)
gb_model.fit(X_train, y_train)

y_pred_xgb = xgb_best.predict(X_val)
y_pred_gb = gb_model.predict(X_val)

y_pred_weighted = (weight_xgb * y_pred_xgb + weight_gb * y_pred_gb)

mae_weighted = mean_absolute_error(y_val, y_pred_weighted)
rmse_weighted = mean_squared_error(y_val, y_pred_weighted, squared=False)
r2_weighted = r2_score(y_val, y_pred_weighted)

print("Combined Model (Weighted Averaging):")
print(f"MAE: {mae_weighted}")
print(f"RMSE: {rmse_weighted}")
print(f"R²: {r2_weighted}")

# CatBoostRegressor

In [ ]:
import catboost as cb
lr_model = LinearRegression()
cb_model = cb.CatBoostRegressor(learning_rate=0.1, iterations=1000, depth=6, silent=True)

stacking_model = StackingRegressor(
    estimators=[('lr', lr_model), ('catboost', cb_model)],
    final_estimator=LinearRegression()
)

stacking_model.fit(X_train, y_train)

y_pred = stacking_model.predict(X_val)

mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# Kết hợp tất

In [ ]:
xgb = XGBRegressor(
    colsample_bytree = 0.5,
    learning_rate = 0.05,
    max_depth = 3,
    n_estimators = 500,
    subsample = 0.5,
    random_state = 42
)
lr = LinearRegression()
svr = SVR(kernel = "rbf", C =100000, epsilon = 0.01)
dt = DecisionTreeRegressor(max_depth = 3, random_state = 42)
lgb = LGBMRegressor(n_estimators = 500, learning_rate = 0.01, max_depth = 5, random_state= 42)
catboost = CatBoostRegressor(n_estimators=500, learning_rate=0.01, depth=5, random_state=42, verbose=False)
meta_model = Ridge(alpha = 0.1)
stacking_regressor = StackingRegressor(
    estimators=[
        ('xgb', xgb),
        ('lr', lr),
        ('svr', svr),
        ('dt', dt),
        ('lgb', lgb),
        ('catboost', catboost),
    ],
    final_estimator=meta_model
)
stacking_regressor.fit(X_train, y_train)
y_pred = stacking_regressor.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R²: {r2}")

# Evaluation

(k-fold) Cross-validation